$def with (doxs)
<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">-->
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>DOXBIN2 - FUCK THE POLICE NIGGA</title>
        <link href="/static/style/blue.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        All donations go to hosting<br />
        Donate BTC: 1M8UPWch4S6YCnm4uiY7WXV9V5cLKSPDkp<br />
        <a href="/">Post Dox</a> <a href="/doxviewer">Back to the archive</a> <a href="proscription"> Proscription List</a><br />
        New twitter: <a href="https://www.twitter.com/TheNewDoxbin">@TheNewDoxbin</a><br />
        <br /><br />
        <pre>$doxs</pre>
    </body>
</html>