<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>DOXBIN - Post Dox</title>
<link href="/static/style/blue.css" rel="stylesheet" type="text/css" />
</head>
<body id="center" onload="document.getElementById('captcha-form').focus()">
<h1>DOXBIN</h1>

<p> We're a new doxbin but we do have the same rules. If you have any dox to post from the old doxbin please post or if its in the mass send a message to the email at the bottom of the page. </p>
<p> PS. I will not be removing Child Porn aslong as it's relevant in some way to the dox. </p>

<form action="post" method="post">
    <p>
        <input type="text" id="name" name="name" placeholder="name" /><br />
        <textarea id="dox" name="dox" rows="25" cols="80" placeholder="DOX go here. This is not your personal slam page, nor is it a page on which to brag about having 0wned someone, or to complain that they 0wned you. Post whatever info you have and SHUT UP. There are no limits on what kind of info you can post, so feel free to drop SSNs, financial, medical info, or anything else that is blatantly illegal. We have a strict non-removal policy, so once the dox go up, they stay up unless they are inaccurate, or you didn't include at least a name and address. Asking for dox to be removed is probably the surest way for them to be updated and expanded upon. You have been warned."></textarea><br />
        <input type="submit" value="Post" /><br />
        <input type="text" name="" value="" style="visibility: hidden;" />
    </p>
</form>
<h2><a href="doxviewer">DOX Archive</a></h2>
<h2><a href="proscription"> Proscription List</a></h2>
<p>
  Grab the <a href="dx.tbz2">text</a> or <a href="dx-html.tbz2">HTML</a> tarball today!<br />
  You can also browse the <a href="old/">old</a> and <a href="fail/">fail</a> dox folders.
</p>

<p>
Join us on IRC: irc.wtfux.org #doxbin2<br />
Follow us on Twitter (<a href="https://twitter.com/#!/TheNewDoxbin">@TheNewDoxbin</a>)<br />
E-mail: <a href="mailto:doxbin@cock.li">doxbin@cock.li</a> <a href="pgp.txt">PGP key</a> (Use it)<br />
Complaints: (COM) ING-SOON<br />
<a href="privacy">Privacy Policy</a> <a href="faq">FAQ</a>
</p>
</body>
</html>
