<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>DOXBIN - Privacy Policy</title>
<link href="/static/style/blue.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Privacy Policy</h1>
<p class="left">
If your dox have been posted: Doxbin has a strict non-removal policy. What this means is that if your info goes up, it's not coming down unless it's bad, old, or otherwise inaccurate. Cover your tracks and you won't have to worry about it. Otherwise, you're just going to be made fun of in #doxbin and on Twitter.
</p>

<p class="left">
For site visitors:</p>
<ul class="left">
    <li>We don't keep a single access log, don't sign your dox if you don't want someone to know</li>
</ul>

<p class="contact">
Join us on IRC: irc.wtfux.org #doxbin2<br />
Follow us on Twitter (<a href="http://twitter.com/TheNEWDoxbin">@TheNEWDoxbin</a>)<br />
E-mail: <a href="mailto:doxbin@cock.li">doxbin@cock.li</a> <a href="pgp.txt">PGP key</a> (Use it)<br />
Complaints: (COM) ING-SOON<br />
</p>
</body>
</html>

